*{
	margin: 0;
	padding: 0;
	font-family: 微软雅黑;
	font-size: 62.5%;
}
a{
	text-decoration: none;
	color: #fff;
}
body{
}
.iphone7{
	margin: 0 auto;
	background-image: url(../img/iphone7.png);
	width: 375px;
	height: 667px;
}
.iphone7-inner{
	text-align:center;
	margin: 0 auto;
	background-image: url(../img/iphone7-inner.png);
	width: 375px;
	height: 667px;
}
.iphone7-inner:hover {
	text-align:center;
	margin: 0 auto;
	background-image: url(../img/iphone-inner2.png);
	width: 375px;
	height: 667px;
	animation: background-img 2s 1;
}
@keyframes background-img{
	0%{
		opacity: .8;
	}
	100%{
		opacity: 1;
	}
}
.iphone7-inner:hover > .welcome{
	display: block;
	animation: welcome 3s 1 ;
}
@keyframes welcome{
	0%{
		opacity: .5;
	 
		
	}
	100%{
		opacity: 1;
	}
}
.welcome a {
	display: none;
}
.iphone7-inner:hover > .welcome a{
	display: inline-block;
	background-image: -webkit-linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
	        -webkit-text-fill-color: transparent;
	        -webkit-background-clip: text;
	        -webkit-background-size: 200% 100%;
	        -webkit-animation: masked-animation 4s infinite linear; 
}
 @keyframes masked-animation{
	0%  { background-position: 0 0;
	    }
    100% { background-position: -100% 0;
    }
}
.welcome{
	display: none;
	position: absolute;
	margin-top:40rem;
	margin-left:8.5rem;
	line-height: 6rem;
	width: 15rem;
	height: 6rem;
	font-size: 2.5rem;
	border: 3px solid #fff;
}